<div class="header_holder" align="center">
    <a id="settings_button" href=""><i    class="fa-list float-left"></i></a>
    <div class="header" >
        Rohitha's Awesome Startup....
    </div>
</div>


<aside class="sidebar" id="navbar">
    <ul>
        <li><a href="">Link 1</a></li>
        <li><a href="">Link 2</a></li>
        <li><a href="">Link 3</a></li>
    </ul>
</aside>
<div align="center">
    <div id="canvas_div">
    </div>
</div>
</head>
<body>


